config.py
solar-smart-plug.log
__pycache__/*
solarProductionAdvisor/advisorConfig.py
solarProductionAdvisor/solar-production-advisor-log.log
solarProductionAdvisor/test.json
solarProductionAdvisor/__pycache__/*
solarProductionAdvisor/solar_data.json
solarProductionAdvisor/solar_data.json
